
body {
    background-color: black;
}
.fullbody {
    display: flex;
    flex-direction: column; 
    margin: auto;
    width: 98%;

}

@import "variables";

/*--------textos varios--------*/
* {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}
p {
    font-family: 'Ubuntu Mono', monospace;
}
.selector {
    color: #4470B7;
}
h1 {
    @extend .BorderPadding;
}




/*--------secciones--------*/
::before { 
    box-sizing:border-box;
}

section { 
     margin-top: 30px;
     background: #111;
}



/*--------articulos--------*/
.column {
    @extend .BorderPadding;
    display: flex;
    align-items: left;
}

.left {
    display:block;
    width: 150px;
    margin-right: 20px;
}
.right {
    flex-grow: 1;
    }





/*---------articulos portfolio--------*/
@import "portfolio";


/*--------el menu con los links--------*/
nav {
    background: #FF9800;
    padding: 10px;
    border-radius: 5px;
}



/*--------todos los links--------*/
h1 > a:hover, a:active  {
    text-decoration: none;
    
}
a {
    font-weight: bold;
    padding: 10px;
    &:link, &:visited {

    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;

    }

    &:hover, &:active {
        text-decoration: underline;
    }
}





//---------------------------------------------------------//
/*testeos locos*/
.ventana {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;



}

div > img {
    height: 200px;
    width: 200px;
}

.slider {
    display: flex;
    animation: slider 3s ease infinite;
    animation-delay: 1s;
}


@keyframes slider {
0% {
    transform: translateX(0);
  }
  
100% {
    transform: translateX(-200%);
  }
  
}
